{% extends 'tom_common/base.html' %}
{% block title %}User Token{% endblock %}
{% block content %}
<div class="mb-3">
  <p class="h2">Token Generated Successfully</p>
  <p class="mb-0">
    User: <code>{{ user.username }}</code>
  </p>
  <p class="mb-0">
    Token: <code>{{ token.key }}</code>
  </p>
</div>

<div class="alert alert-danger" role="alert">
  <strong>Important:</strong> Please note that this token will only be shown once. If you lose it, you will need to generate a new one.
</div>

<div class="mb-3">
  <p>This token allows you to access the <strong>antares2goats</strong> browser extension. Ensure to keep it secure and do not share it with others. To use the token, simply input it into the appropriate field within the extension settings.</p>
</div>
<div class="mb-3">
  <a href="{% url 'user-list' %}" class="btn btn-primary">Back to User List</a>
</div>
{% endblock %}


