{% extends 'tom_common/base.html' %}
{% block title %}GOA Login Information{% endblock %}
{% block content %}
<div class="mb-3">
  <p class="h2">Manage GOA Login</p>
  <p class="mb-0">
    User: <code>{{ user.username }}</code>
  </p>
</div>
<div class="alert alert-danger" role="alert">
  <strong>Important:</strong> This information will be securely stored and used for GOA queries. Do not share your GOA login credentials.
</div>
<hr />

<form method="POST">
  {% csrf_token %}
  <div class="mb-3">
    {{ form.username.label_tag }} <br>
    {{ form.username }}
  </div>
  <div class="mb-3">
    {{ form.password.label_tag }} <br>
    {{ form.password }}
  </div>

  <input type="submit" value="Save GOA Login" class="btn btn-primary">
</form>

{% endblock %}