{% extends 'tom_common/base.html' %}
{% block title %}{{ service_name }} Login Information{% endblock %}
{% block content %}
<div class="mb-3">
  <p class="h2">
    Manage
    {% if service_name == "GOA" %}
    Gemini Observatory Archive (GOA)
    {% elif service_name == "GPP" %}
      Gemini Program Platform (GPP)
    {% elif service_name == "TNS" %}
      Transient Name Server (TNS)
    {% elif service_name == "LCO" %}
      Las Cumbres Observatory (LCO)
    {% else %}
      {{ service_name }}
    {% endif %}
    Credentials
  </p>
  {% if service_description %}
  <p class="mb-3">
    {{ service_description|safe }}
  </p>
  {% endif %}
  <p class="mb-0">
    User: <code>{{ user.username }}</code>
  </p>
</div>
<div class="alert alert-danger" role="alert">
  <strong>Important:</strong> This information will be securely stored. Do not share your {{ service_name }} credentials.
</div>
<hr />

<form method="POST">
  {% csrf_token %}
  {% for field in form %}
    <div class="mb-3">
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>
  {% endfor %}
  <input type="submit" value="Save {{ service_name }} Credentials" class="btn btn-primary">
</form>

{% endblock %}