{% extends 'tom_common/base.html' %}
{% block title %}{{ service_name }} Login Information{% endblock %}
{% block content %}
<div class="mb-3">
  <p class="h2">
    Manage
    {% if service_name == "GOA" %}
    Gemini Observatory Archive (GOA)
    {% elif service_name == "GPP" %}
      Gemini Program Platform (GPP)
    {% elif service_name == "LCO" %}
      Las Cumbres Observatory (LCO)
    {% else %}
      {{ service_name }}
    {% endif %}
    Login
  </p>
  {% if service_description %}
  <p class="mb-3">
    {{ service_description|safe }}
  </p>
  {% endif %}
  <p class="mb-0">
    User: <code>{{ user.username }}</code>
  </p>
</div>
<div class="alert alert-danger" role="alert">
  <strong>Important:</strong> This information will be securely stored. Do not share your {{ service_name }} credentials.
</div>
<hr />

<form method="POST">
  {% csrf_token %}
  {% if form.username %}
  <div class="mb-3">
    {{ form.username.label_tag }}<br>
    {{ form.username }}
  </div>
  {% endif %}

  {% if form.password %}
  <div class="mb-3">
    {{ form.password.label_tag }}<br>
    {{ form.password }}
  </div>
  {% endif %}

  {% if form.token %}
  <div class="mb-3">
    {{ form.token.label_tag }}<br>
    {{ form.token }}
  </div>
  {% endif %}

  <input type="submit" value="Save {{ service_name }} Credentials" class="btn btn-primary">
</form>

{% endblock %}