{% extends 'tom_common/base.html' %} {% load bootstrap4 %} {% block title %}API
Key Management{% endblock %} {% block content %}
<div class="mb-3">
  <p class="h2">Manage Gemini North and South OT Keys</p>
  <p class="mb-0">User: <code>{{ target_user.username }}</code></p>
</div>
<div class="alert alert-danger" role="alert">
  <strong>Important:</strong> This information will be securely stored and used
  for OT queries. Do not share your OT keys.
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li class="lead mb-3">
        Access to the Gemini Observing Databases (ODBs) is controlled by
        authentication keys.
      </li>
      <ul>
        <li>
          <strong>User Key:</strong> Recommended for general use, based on an
          email address, providing access to all associated programs.
        </li>
        <ul>
          <li>
            <strong>Active Key:</strong> Only one User Key can be active per
            site at any time. Activate a key by clicking the checkmark icon; the
            active key will be highlighted.
          </li>
        </ul>
      </ul>
      <ul>
        <li>
          <strong>Program Key:</strong> Gives access to one program. This is
          similar to using the program password in 2013B and earlier.
        </li>
        <ul>
          <li>
            GOATS prioritizes Program Keys matching specific programs during ODB
            communication. If unavailable, the active User Key is used.
          </li>
        </ul>
      </ul>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="nav nav-tabs" role="tablist" id="tabs">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="user-key-tab"
          data-toggle="tab"
          href="#user-key"
          role="tab"
          >User Key</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="program-key-tab"
          data-toggle="tab"
          href="#program-key"
          role="tab"
          >Program Key</a
        >
      </li>
    </ul>
    <div class="tab-content mb-5 mt-3">
      <div class="tab-pane active" id="user-key">
        <form
          method="POST"
          action="{% url 'create-user-key' user_pk=target_user.pk %}"
        >
          {% csrf_token %} {{ user_key_form.as_p }}
          <input
            type="submit"
            value="Save User Key"
            class="btn btn-primary btn-block"
          />
        </form>
      </div>
      <div class="tab-pane" id="program-key">
        <form
          method="POST"
          action="{% url 'create-program-key' user_pk=target_user.pk %}"
        >
          {% csrf_token %} {{ program_key_form.as_p }}
          <input
            type="submit"
            value="Save Program Key"
            class="btn btn-primary btn-block"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Iterate over sites -->
{% for site in sites %}
<div class="row mt-4">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <p class="text-center h4 mb-0">{{ site }} Keys</p>
      </div>
      <div class="card-body">

        <table class="table table-borderless">
          <thead>
            <tr>
              <th></th>
              <th>Key Type</th>
              <th>Key Name</th>
              <th>Status</th>
              <th>Created</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- Display User Keys for the current site -->
            {% for key in user_keys %} {% if key.site == site %}
            <tr class="{% if key.is_active %}table-info{% endif %}">
              <td>
                <a
                  href="{% url 'activate-user-key' pk=key.id user_pk=target_user.pk %}"
                  class="text-light"
                  ><i class="fa-solid fa-check"></i
                ></a>
              </td>
              <td>User Key</td>
              <td>{{ key.email }}</td>
              <td>{{ key.is_active|yesno:"Active,Inactive" }}</td>
              <td>{{ key.created_at}}</td>
              <td class="text-center">
                <a
                  href="{% url 'delete-user-key' pk=key.id user_pk=target_user.pk %}"
                  class="text-light"
                >
                  <i class="fa-solid fa-trash"></i>
                </a>
              </td>
            </tr>
            {% endif %} {% endfor %}
            <!-- Display Program Keys for the current site -->
            {% for key in program_keys %} {% if key.site == site %}
            <tr class="{% if key.is_active %}table-info{% endif %}">
              <td></td>
              <td>Program Key</td>
              <td>{{ key.program_id }}</td>
              <td></td>
              <td>{{ key.created_at }}</td>
              <td class="text-center">
                <a
                  href="{% url 'delete-program-key' user_pk=target_user.pk pk=key.id %}"
                  class="text-light"
                >
                  <i class="fa-solid fa-trash"></i>
                </a>
              </td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  {% endfor %} {% endblock %}
</div>
