{
  "ignoreFiles": [
    "**/_variables.scss",
    "**/bootstrap.min.css",
    "**/bootstrap.css",
    "**/custom.sass",
    "**/halfmoon.min.css",
    "**/tom-select.bootstrap5.css"
  ],
  "extends": "stylelint-config-standard"
}