{% load static bootstrap4 tom_common_extras custom_filters %}

<!doctype html>
<html lang="en" data-bs-core="goats" data-bs-theme="dark">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/halfmoon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cores/halfmoon.goats.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon-32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon-16.png' %}" sizes="16x16" />
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <!-- JavaScript -->
    {% bootstrap_javascript jquery='True' %}
    <script src="{% static 'js/toggle_mode.js' %}"></script>


    <title>GOATS</title>
  </head>
  <body>
    <header class="shadow-sm">
      <div class="banner container-fluid py-1">{% include 'banner.html' %}</div>
      <nav class="container-fluid">{% include 'navbar.html' %}</nav>
    </header>

    <main role="main" class="{% if request.path == '/' %}container-fluid img-container{% else %}container{% endif %} pt-5 pb-5">
      {% bootstrap_messages %}
      {% block content %}{% endblock %}
      <div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3">
      </div>
    </main>

    <footer class="container-fluid py-4 bg-light-subtle">{% include 'footer.html' %}</footer>

    {% block javascript %}
    <script src="{% static 'js/get_csrf_token.js' %}"></script>
    <script type="module">
      import { createAndShowToast } from "{% static 'js/toast_utils.js' %}";
      import { updateDownloadProgress } from "{% static 'js/download_progress.js' %}";

      const webSocket = new WebSocket('ws://localhost:8000/ws/updates/');

      webSocket.onopen = function(event) {
          console.log('WebSocket connection established');
      };

      webSocket.onmessage = function(event) {
          const data = JSON.parse(event.data);

          if (data.update === "notification") {
            console.log("Creating toast.");
            createAndShowToast(data);
          }
          else if (data.update == "download") {
            console.log("Updating download progress.");
            updateDownloadProgress(data);
          }
      };

      webSocket.onclose = function(event) {
          console.log('WebSocket connection closed', event);
      };

      webSocket.onerror = function(error) {
          console.log('WebSocket error', error);
      };
    </script>

    {% endblock %}

    {% block extra_javascript %}{% endblock %}
  </body>
</html>

