{% load static bootstrap4 tom_common_extras custom_filters %}

<!DOCTYPE html>
<html lang="en" data-bs-core="goats" data-bs-theme="dark">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/halfmoon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cores/halfmoon.goats.css' %}" />
    <script defer src="{% static 'fontawesome-free-6.7.2/js/brands.js' %}"></script>
    <script defer src="{% static 'fontawesome-free-6.7.2/js/solid.js' %}"></script>
    <script defer src="{% static 'fontawesome-free-6.7.2/js/fontawesome.js' %}"></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/favicon-32.png' %}"
      sizes="32x32" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/favicon-16.png' %}"
      sizes="16x16" />
    <!-- JavaScript -->
    {% bootstrap_javascript jquery='True' %}
    <script src="{% static 'js/toggle_mode.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.bundle.min.js' %}"></script>
    <!-- htmx.min.js was downloaded manually and added to the project. see https://htmx.org/docs/#download-a-copy -->
    <script src="{% static 'tom_common/js/htmx.min.js' %}" defer></script>
    <!-- Loading AlpineJS from a CDN For now, todo solution for 3rd party static assets. -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


    <title>GOATS</title>
  </head>
  <body data-csrf-token="{{ csrf_token }}">
    <header class="shadow-sm">
      <div class="banner container-fluid py-1">{% include 'banner.html' %}</div>
      <nav class="container-fluid bg-light-subtle">{% include 'navbar.html' %}</nav>
    </header>

    <main role="main" class="container pt-5">
      {% bootstrap_messages %} {% block content %}{% endblock %}
      <div
        id="toastContainer"
        class="toast-container position-fixed bottom-0 end-0 p-3"></div>
    </main>

    <footer class="container-fluid py-4 bg-light-subtle">
      {% include 'footer.html' %}
    </footer>

    {% block javascript %}
    <script src="{% static 'js/get_csrf_token.js' %}"></script>
    <script src="{% static 'js/toast_manager.js' %}"></script>
    <script src="{% static 'js/download_progress.js' %}"></script>
    <script>
      window.toast = new ToastManager(document.getElementById("toastContainer"));

      const wsProtocol = window.location.protocol === "https:" ? "wss" : "ws";
      const wsUrl = `${wsProtocol}://${window.location.host}/ws/updates/`;
      console.log(wsUrl, "new ws url")
      const webSocket = new WebSocket(wsUrl);
      webSocket.onopen = function (event) {
        console.log("WebSocket connection established");
      };

      webSocket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        if (data.update === "notification") {
          window.toast.show(data);
        } else if (data.update == "download") {
          updateDownloadProgress(data);
        }
      };

      webSocket.onclose = function (event) {
        console.log("WebSocket connection closed", event);
      };

      webSocket.onerror = function (error) {
        console.log("WebSocket error", error);
      };
    </script>

    {% endblock %}
  </body>
</html>
