{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row g-3 justify-content-center">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Welcome to 🐐 GOATS</h5>
        <p class="card-text">
          To get started, connect your credentials to access proprietary data and integrate with external services:
        </p>
        <ul class="mb-3">
          <li>Gemini Observatory Archive (GOA)</li>
          <li>Gemini Program Platform (GPP)</li>
          <li>Astro Data Lab</li>
          <li>Transient Name Server (TNS)</li>
          <li>Las Cumbres Observatory (LCO)</li>
          <li>antares2goats browser extension</li>
        </ul>
        <a href="{% url 'user-list' %}" class="btn btn-primary mb-3">
          Enter Credentials
        </a>
      </div>
    </div>
  </div>
</div>
<img src="{% static 'img/landing-dark.png' %}" class="img-fluid">
{% endblock %}
