{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="text-center text-light landing">
  <div class="row pt-5">
    <div class="col">
      <p class="goats-subtitle pt-5">Gemini Observation and Analysis of Targets System</p>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col">
      <p class="h3 goats-slogan">Time-Domain Astronomy Made Time Efficient</p>
    </div>
  </div>
  <img class="img-fluid" src="{% static 'img/landing-dark.png' %}">
</div>
{% endblock %}
