{% extends 'tom_common/base.html' %}
{% load comments bootstrap4 tom_common_extras targets_extras observation_extras dataproduct_extras static cache gemini %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_common/css/main.css' %}">
<link rel="stylesheet" href="{% static 'tom_targets/css/main.css' %}">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-4 col-12">
      <div id="target-info">
        <div class="d-flex">
          <p class="h3">{{ target.name }}</p>
          {% target_buttons target %}
        </div>
        {% target_data target %}
        <div class="row">
          <div class="col">
            {% recent_photometry target limit=3 %}
          </div>
        </div>
        {% share_data target %}
        {% if target.type == 'SIDEREAL' %}
        {% aladin target %}
        {% endif %}
        {% comments_enabled as comments_are_enabled %}
        <hr/>
        <div class="row">
          <div class="col">
            <p class="h5">Comments</p>
            {% if comments_are_enabled %}
              {% render_comment_list for target %}
              {% url 'targets:detail' target.id as next %}
              {% if user.is_authenticated %}
                {% render_comment_form for target %}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-12">
      {% block target_obs_content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}