body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
  line-height: 1.6;
}

label {
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 8px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="radio"] {
  margin: 10px 10px 10px 0;
}

button {
  background-color: #f1b730;
  border: 1px solid #f1b730;
  color: #333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%;
}

button:hover {
  background-color: #e0a025;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container label {
  margin: 0;
}

.block-container label {
  display: block;
  margin-bottom: 0;
  margin-top: 20px;
}

.block-container input {
  margin-top: 0;
  margin-bottom: 0;
}