
$gray-100: #C9C9C9;
$gray-200: #B8B8B8;
$gray-300: #828282;
$gray-400: #696969;
$gray-500: #3B3B3B;
$gray-600: #2E2E2E;
$gray-700: #242424;
$gray-800: #1F1F1F;
$gray-900: #141414;
$toast-border-radius: .1rem;
$input-bg: $gray-800;
$primary: #F2AC14;
$success: #69DB7C;
$info: #3BC9DB;
$danger: #E03131;
$enable-responsive-font-sizes: true;
$body-bg: $gray-900;
$body-color: $white;
$border-color: $gray-600;
$text-muted: $gray-300;
$blockquote-small-color: $gray-300;
$hr-border-color: $gray-500;
$mark-bg: #F2AC14;
$table-head-bg: $gray-700;
$table-accent-bg: rgba($white, .05);
$table-hover-bg: rgba($white, .075);
$table-bg-level: 8;
$table-border-level: 8;
$btn-link-disabled-color: $gray-400;
$input-color: $body-color;
$nav-link-disabled-color: $gray-400;
$nav-tabs-border-color: $gray-700;
$nav-tabs-link-active-color: $body-color;
$nav-tabs-link-active-border-color: $gray-500 $gray-500 $nav-tabs-link-active-bg;
$nav-divider-color: $gray-500;
$component-active-color: $black;
$input-group-addon-bg: $gray-900;
$custom-control-label-disabled-color: $gray-400;
$custom-select-disabled-bg: $gray-900;
$dropdown-bg: $gray-800;
$dropdown-divider-bg: $gray-500;
$dropdown-link-disabled-color: $gray-400;
$pagination-bg: $gray-800;
$pagination-hover-bg: lighten($gray-800, 5%);
$pagination-disabled-border-color: null;
$jumbotron-bg: $gray-800;
$card-bg: $gray-800;
$popover-bg: $gray-700;
$popover-border-color: $gray-500;
$toast-background-color: $gray-800;
$toast-header-color: $gray-400;
$toast-header-background-color: rgba($black, .85);
$toast-header-border-color: $gray-700;
$modal-content-bg: $gray-800;
$progress-bg: $gray-500;
$list-group-bg: $gray-800;
$list-group-border-color: $gray-500;
$list-group-hover-bg: lighten($gray-800, 5%);
$list-group-disabled-color: $gray-400;
$list-group-action-color: $body-color;
$thumbnail-border-color: $gray-500;
$modal-content-border-color: $gray-700;
$figure-caption-color: $gray-400;
$breadcrumb-bg: $gray-800;
$breadcrumb-divider-color: $body-color;
$breadcrumb-active-color: $body-color;
$close-text-shadow: 0 1px 0 $black;
$code-color: $info;
$kbd-bg: $gray-100;
$pre-color: $gray-100;
$kbd-color: $black;
$input-disabled-bg: $gray-900;
$input-placeholder-color: $gray-400;
$dropdown-link-color: $gray-100;
$dropdown-header-color: $primary;
$pagination-border-color: $gray-500;
$pagination-hover-border-color: $gray-500;
$pagination-disabled-bg: $gray-900;
$popover-header-bg: $gray-800;
$tooltip-color: $gray-100;
$input-btn-focus-color: rgba($white, .75);
$input-border-color: $gray-500;
$dropdown-border-color: $gray-500;
$pagination-color: $body-color;
$pagination-hover-color: $body-color;
$close-color: $gray-100;
$border-radius: .4rem;
$border-radius-lg: .45rem;
$border-radius-sm: .35rem;
$card-border-color: $gray-500;
$alert-bg-level: 8;
$alert-border-level: 8;
$alert-color-level: -12;
$progress-bar-color: $black;
$dropdown-link-hover-bg: lighten($gray-800, 5%);
$secondary: $gray-500;
$warning: #FFE066;
$input-btn-focus-box-shadow: null;
$input-focus-border-color: $gray-100;
$custom-select-disabled-color: $gray-900;
$custom-select-indicator-color: $gray-100;
$pagination-disabled-color: $gray-400;
$dropdown-link-hover-color: $gray-100;
$dropdown-link-active-color: null;
$dropdown-link-active-bg: null;
$nav-tabs-link-hover-border-color: $gray-500 $gray-500 $nav-tabs-border-color;
$list-group-action-active-bg: lighten($gray-800, 5%);
$list-group-color: $white;
$table-border-color: $gray-500;
$input-btn-padding-x: 1rem;
$input-btn-padding-y: .3rem;
$card-cap-bg: $gray-500;