:root {
  --white: #fff;
  --gray-50: #FAFAFA;
	--gray-100: #C9C9C9;
	--gray-200: #B8B8B8;
	--gray-300: #828282;
	--gray-400: #696969;
	--gray-500: #3B3B3B;
	--gray-600: #2E2E2E;
	--gray-700: #242424;
	--gray-800: #1F1F1F;
	--gray-900: #141414;
  --black: #000;
  --gemini: #F2AC14;

  font-size: 14px;
  font-family: arial, sans-serif;
}

.input-group-text {
  font-family: monospace;
}

.nav-item {
  cursor: pointer;
}

/* * {
  border: 1px solid red;
} */

.goats-footer {
  background-color: var(--black);
  color: var(--gray-100);
  padding: .5rem 1rem;
}

.goats-footer img {
  height: 40px;
  width: auto;
  object-fit: scale-down;
}

.goats-navbar {
  background-color: var(--gray-800);;
  padding: .25rem 1rem;
}

main.container {
  padding: 3rem 0;
}

input {
  accent-color: var(--primary);
  color-scheme: dark;
}

.accent-bar {
  background-color: var(--primary-800);
  height: 5px;
}

.dropdown-menu {
  box-shadow: 0 5px 15px hsla(0deg 0% 0% / 20%);
}

.goats-banner {
  background: var(--gemini);
  background: linear-gradient(
    90deg,
    rgb(242 172 20 / 100%) 0%,
    rgb(242 120 12 / 100%) 50%,
    rgb(166 75 41 / 100%) 100%
  );

}

/* .background {
  background: hsl(42deg 87% 57% / 100%);
  background: linear-gradient(180deg, hsl(42deg 87% 57% / 100%) 0%, hsl(0deg 0% 0% / 100%) 100%);
} */

.background {
  background-color: var(--white);
}

.goats-subtitle {
  color: var(--gemini);
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 1;
}

.goats-slogan {
  color: var(--gray-300);
}

.goats-emoji {
  cursor: default;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.banner {
  grid-row: 1;
}

nav {
  grid-row: 2;
}

main {
  grid-row: 3;
}

footer {
  grid-row: 4;
}

.shadow-xs {
  box-shadow: 0 1px 3px hsla(0deg 0% 0% / 20%);
}

.shadow-sm {
  box-shadow: 0 4px 6px hsla(0deg 0% 0% / 20%);
}

.shadow-md {
  box-shadow: 0 5px 15px hsla(0deg 0% 0% / 20%);
}

.shadow-lg {
  box-shadow: 0 10px 24px hsla(0deg 0% 0% / 20%);
}

.shadow-xl {
  box-shadow: 0 15px 35px hsla(0deg 0% 0% / 20%);
}

.download-tasks-container {
  max-height: 300px; /* Adjust as needed */
  padding: 10px;
  width: 700px;
}

.action-button {
  width: 30px;
  height: 30px;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
