{% load static bootstrap4 tom_common_extras custom_filters %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'tom_common/css/main.css' %}">
    {% block additional_css %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon-white.png' %}" sizes="32x32" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon-white.png' %}" sizes="16x16" />

    {% bootstrap_javascript jquery='True' %}

    <title>GOATS | {% block title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include 'banner.html' %}

    {% include 'navbar.html' %}

    <main role="main" class="container">
      {% bootstrap_messages %}
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

    </main>
    {% include 'footer.html' %}

  {% block javascript %}
  {% endblock %}
  {% block extra_javascript %}
  {% endblock %}
  </body>
</html>
