{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container text-center text-light">
  <div class="row">
    <div class="col">
      <p class="h2 goats-subtitle pt-5">Gemini Observation and Analysis Target Selection</p>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col">
      <p class="display-1 goats-title">GOATS</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="h5 goats-slogan">Time Domain Astronomy Made Time Efficient</p>
    </div>
  </div>
  <div class="row pt-5 justify-content-center">
    <div class="col-4">
      <a class="btn btn-primary btn-lg btn-block" href="{% url 'login' %}">Login</a>
    </div>
  </div>
</div>
{% endblock %}
