{% extends "tom_common/base.html" %}
{% load static %}
{% block content %}
<div class="row g-3 justify-content-center">
  <div class="col-12">
    <h2>Astro Data Lab and GOATS</h2>
  </div>
  <div class="col-12">
    <p>
      GOATS can integrate with your Astro Data Lab account, allowing data products from
      GOATS to be sent directly to your Astro Data Lab storage.
    </p>
    <p>
      To enable this, you need to link your Astro Data Lab account by providing your
      credentials. You can do this by visiting the following link:
    </p>
    <p>
      <a href="{% url 'user-astro-data-lab-login' pk=user.pk %}">
        Link your Astro Data Lab account
      </a>
    </p>
    <p>
      Once linked, after adding a Target, you can use the
      <strong>"Manage Data"</strong> tab and click the <strong>"Actions"</strong>
      button next to each data product to send files to Astro Data Lab.
    </p>
  </div>
  <hr>
  <div class="col-8 text-center">
    <p>Click the image to open the Astro Data Lab portal.</p>
    <a href="https://datalab.noirlab.edu/" target="_blank">
      <img
        src="{% static 'img/astro-datalab.png' %}"
        class="img-fluid"
        alt="Astro Data Lab" />
    </a>
  </div>
</div>
{% endblock %}
