{% load static bootstrap4 %}

{% comment %}
This is the site banner, which includes the site logo on the left and sponsor logos on the right.
{% endcomment %}

<div class="goats-banner d-flex justify-content-between align-items-center">
  <a href="/">
    <img class="img-fluid" src="{% static 'img/goats-outline.png' %}" style="height: 45px;" alt="">
  </a>
  <div class="d-flex">
    <a href="https://www.gemini.edu/" target="_blank">
      <img class="img-fluid" src="{% static 'img/gemini-dark.png' %}" style="height: 30px;" alt="">
    </a>
    <a href="https://noirlab.edu/public/" target="_blank">
      <img class="img-fluid" src="{% static 'img/nsf-noirlab-dark.png' %}" style="height: 30px;" alt="">
    </a>
  </div>
</div>
