{% extends "tom_common/base.html" %}
{% block content %}
{% csrf_token %}

<div class="row g-3">
  <div class="col-12">
    <p class="h3">{{ observation_record.observation_id }}</p>
  </div>
</div>
<div class="card mb-5" id="dragonsRunsCard">
  <div class="card-header">
    Setup and Configuration
  </div>
  <div class="card-body">
    <div class="row g-3">
      <div class="col-12">
        <label class="form-label">Configure DRAGONS Run</label>
        <div class="btn-group d-flex" role="group" aria-label="DRAGONS Run Configuration Options">
          <input type="radio" name="run-configuration" class="btn-check" id="existing-run" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="existing-run">Use Existing Run</label>
          <input type="radio" name="run-configuration" class="btn-check" id="new-run" autocomplete="off">
          <label class="btn btn-outline-primary" for="new-run">Start New Run</label>
        </div>
      </div>
    </div>
    <form id="dragonsSetupForm" method="post" class="d-none">
      <div class="row g-3">
        <input type="hidden" name="observation_record" value="{{ observation_record.pk }}">
        <div class="col-12">
          <label for="runId" class="form-label">Run ID</label>
          <input type="text" class="form-control" id="runId" name="run_id" placeholder="run-YYYYMMDDhhmmss">
        </div>
        <div class="col-12">
          <label for="configFilename" class="form-label">Configuration Filename</label>
          <input type="text" class="form-control" id="configFilename" name="config_filename" readonly value="dragonsrc">
        </div>
        <div class="col-12">
          <label for="outputDirectory" class="form-label">Output Directory</label>
          <input type="text" class="form-control" id="outputDirectory" name="output_directory" placeholder="reduced-YYYYMMDDhhmmss">
        </div>
        <div class="col-12">
          <label for="calManagerFilename" class="form-label">Calibration Manager Filename</label>
          <input type="text" class="form-control" id="calManagerFilename" readonly name="cal_manager_filename" value="cal_manager.db">
        </div>
        <div class="col-12">
          <label for="logFilename" class="form-label">Log Filename</label>
          <input type="text" class="form-control" id="logFilename" name="log_filename" value="log.log" readonly>
        </div>
        <div class="col-12">
          <button type="submit" class="btn d-block w-100 btn-primary">Initialize DRAGONS Run</button>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer mb-3">
    <div class="row g-3">
      <div class="col-12">
        <label for="dragonsRun" class="form-label">Select a DRAGONS Run</label>
        <select class="form-select" id="dragonsRunsSelect">
          <option value="" selected hidden>---</option>
          {% for dragons_run in dragons_runs %}
            <option value="{{ dragons_run.id }}">{{ dragons_run.run_id }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>
<div class="card" id="fileListCard">
  <div class="card-header">
    Files List
  </div>
  <div class="card-body">
    <div id="filesAccordionContainer" class="accordion accordion-flush"></div>
  </div>
  <div class="card-footer mb-3">
    <a href="#" class="btn d-block w-100 btn-primary" id="generateFilesListBtn">Generate Files List</a>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const api = new FetchWrapper("/api/dragons/");
    api.setCsrfToken("{{ csrf_token }}")

    const setupModel = new SetupModel(api);
    const setupView = new SetupView();
    const setupController = new SetupController(setupModel, setupView);

    const fileListModel = new FileListModel(api);
    const fileListView = new FileListView();
    const fileListController = new FileListController(fileListModel, fileListView);
  })
</script>
{% endblock %}
