{% extends "tom_common/base.html" %}
{% block content %}
{% csrf_token %}

<div class="row g-3">
  <div class="col-12">
    <p class="h3">{{ observation_record.observation_id }}</p>
  </div>
</div>
<div class="card mb-3">
  <div class="card-header">
    Setup and Configuration
  </div>
  <div class="card-body">
    <div class="row g-3 mb-3">
      <div class="col-12">
        <label class="form-label">Configure DRAGONS Run</label>
        <div class="btn-group d-flex" role="group" aria-label="DRAGONS Run Configuration Options">
          <input type="radio" name="run-configuration" class="btn-check" id="existing-run" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="existing-run">Use Existing Run</label>
          <input type="radio" name="run-configuration" class="btn-check" id="new-run" autocomplete="off">
          <label class="btn btn-outline-primary" for="new-run">Start New Run</label>
        </div>
      </div>
    </div>
    <form id="dragonsSetupForm" method="post" class="d-none">
      <div class="row g-3">
        <input type="hidden" name="observation_record" value="{{ observation_record.pk }}">
        <div class="col-12">
          <label for="runId" class="form-label">Run ID</label>
          <input type="text" class="form-control" id="runId" name="run_id" placeholder="run-YYYYMMDDhhmmss">
        </div>
        <div class="col-12">
          <label for="configFilename" class="form-label">Configuration Filename</label>
          <input type="text" class="form-control" id="configFilename" name="config_filename" readonly value="dragonsrc">
        </div>
        <div class="col-12">
          <label for="outputDirectory" class="form-label">Output Directory</label>
          <input type="text" class="form-control" id="outputDirectory" name="output_directory" placeholder="reduced-YYYYMMDDhhmmss">
        </div>
        <div class="col-12">
          <label for="calManagerFilename" class="form-label">Calibration Manager Filename</label>
          <input type="text" class="form-control" id="calManagerFilename" readonly name="cal_manager_filename" value="cal_manager.db">
        </div>
        <div class="col-12">
          <label for="logFilename" class="form-label">Log Filename</label>
          <input type="text" class="form-control" id="logFilename" name="log_filename" value="log.log" readonly>
        </div>
        <div class="col-12">
          <button type="submit" class="btn d-block w-100 btn-primary">Initialize DRAGONS Run</button>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="row g-3">
      <div class="col-12">
        <label for="dragonsRun" class="form-label">Select a DRAGONS Run</label>
        <select class="form-select" id="dragonsRunsSelect">
          <option value="" selected hidden>---</option>
          {% for dragons_run in dragons_runs %}
            <option value="{{ dragons_run.id }}">{{ dragons_run.run_id }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>
<div class="card" id="fileListCard">
  <div class="card-header">
    Files List
  </div>
  <div class="card-body">
    <div id="filesAccordionContainer" class="accordion accordion-flush"></div>
  </div>
  <div class="card-footer">
    <a href="#" class="btn d-block w-100 btn-primary" id="generateFilesListBtn">Generate Files List</a>
  </div>
</div>

<script>

  const toggleVisibility = (element, show) => {
    if (show) {
      element.classList.remove("d-none");
    } else {
      element.classList.add("d-none");
    }
  };

  document.addEventListener("DOMContentLoaded", () => {
    /**
     * Initialize variables to reference form elements and groups.
     */
    const generateFilesListBtn = document.getElementById('generateFilesListBtn');
    const runConfigurationRadios = document.getElementsByName("run-configuration");
    const dragonsSetupForm = document.querySelector("#dragonsSetupForm");
    const formElements = dragonsSetupForm.querySelectorAll("input");
    const dragonsRunsSelect = document.getElementById("dragonsRunsSelect");

    /**
     * Sets the readonly attribute on form fields.
     * @param {boolean} isReadonly - If true, sets fields to readonly. Removes readonly if false.
     */
    const setFormReadonly = (isReadonly) => {
        formElements.forEach(el => {
            // Always readonly fields are excluded from toggling
            if (!["logFilename", "configFilename", "calManagerFilename"].includes(el.id)) {
                el.readOnly = isReadonly;
            }
        });
    };

    // Listen for changes on run configuration radios
    runConfigurationRadios.forEach(radio => {
        radio.addEventListener("change", () => {
            if (radio.id === "new-run") {
                toggleVisibility(dragonsSetupForm, true);
            } else {
                toggleVisibility(dragonsSetupForm, false);
            }
        });
    });

    document.getElementById('dragonsSetupForm').addEventListener('submit', async (event) => {
      event.preventDefault(); // Prevent the form from submitting traditionally

      // Prepare form data
      const rawFormData = new FormData(event.target);

      // Convert formData to JSON
      const formData = Object.fromEntries(rawFormData);

      try {
        const api = new FetchWrapper("/api/dragons/")
        api.setCsrfToken("{{ csrf_token }}")

        // Use fetchWrapper for the request, incorporating CSRF token in headers
        const data = await api.post(`${formData.observation_record}/setup/`, formData)
        // Update select with new options
        const selectElement = document.getElementById('dragonsRunsSelect');
        // Clear existing options (except the first "Choose..." option)
        selectElement.length = 1;

        // Populate the select element with new options
        data.dragons_runs.forEach(run => {
          const option = new Option(`${run.run_id}`, run.id);
          selectElement.add(option);
        });
        toggleVisibility(dragonsSetupForm, false);

      } catch (error) {
        console.error('There has been a problem with your fetch operation:', error);
      }

    });

    const api = new FetchWrapper("/api/dragons/");
    api.setCsrfToken("{{ csrf_token }}")
    const model = new FileListModel(api);
    const view = new FileListView();
    const controller = new FileListController(model, view);
  })
</script>
{% endblock %}
