{% extends "tom_common/base.html" %}
{% block content %}
<div class="mb-3">
  <p class="h2">Recent Downloads</p>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Observation ID</th>
        <th>Status</th>
        <th>Files Downloaded</th>
        <th>Files Omitted</th>
        <th>Start Time</th>
        <th>Total Time</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      {% for download in downloads %}
      <tr>
        <td>{{ download.observation_id }}</td>
        <td class="text-capitalize">{{ download.status }}</td>
        <td>{{ download.num_files_downloaded }}</td>
        <td>{{ download.num_files_omitted }}</td>
        <td>{{ download.start_time }}</td>
        <td>{{ download.total_time }}</td>
        <td>{{ download.message|default:"" }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center">No downloads found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
