{% extends "tom_common/base.html" %}
{% block content %}
<div class="mb-3">
  <p class="h2">Recent Downloads</p>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Observation ID</th>
        <th>Status</th>
        <th>Start Time</th>
        <th>Total Time</th>
        <th>Error Message</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.task_id }}</td>
        <td class="text-capitalize">{{ task.status }}</td>
        <td>{{ task.start_time }}</td>
        <td>{{ task.total_time }}</td>
        <td>{{ task.error_message|default:"" }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8" class="text-center">No downloads found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
