{% extends 'tom_common/target-dash.html' %}
{% load bootstrap4 static observation_extras dataproduct_extras gemini tom_overrides%}
{% block title %} Observation record: {{ observationrecord.id }} {% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_observations/css/main.css' %}">
{% endblock %}
{% block target_obs_content %}
<div class="row">
  <div class="col text-center">
    <h2>{{ object.observation_id }} @{{ object.facility }}</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col text-center">
    {% if editable %}
      <p>{% update_observation_id_form object %}</p>
    {% endif %}

    {% if object.url %}
      <a class="btn btn-success ml-3" href="{{ object.url }}" target="_blank">View at observatory »</a>
    {% endif %}
    <p class="my-auto"><strong>Created:</strong> {{ object.created }} <strong>Modified:</strong> {{ object.modified }}</p>
    <p class="my-auto"><strong>Status:</strong> {{ object.status }}</p>
  </div>
</div>
<hr class="mb-5" />
{% render_goa_query_form %}
{% render_launch_dragons %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h4>Saved Data Products</h4>
    <form method="POST" action="{% url 'tom_dataproducts:group-data' %}">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-sm-4">
          {% bootstrap_field form.group layout='inline' %}
          {% for product in data_products.saved %}
            <input type="hidden" name="products" value="{{ product.id }}">
          {% endfor %}
        </div>
        <div class="col-sm-8">
          {% buttons %}
          <input type="submit" value="Add to group" class="btn btn-primary">
          <a href="{% url 'dataproducts:group-list' %}">Manage groups</a>
          {% endbuttons %}
        </div>
      </div>
      {% goats_dataproduct_list_for_observation_saved data_products request object %}
    </form>
    {% if object.facility != "GEM" %}
    <form method="POST" action="{% url 'tom_dataproducts:save' object.id %}">
      {% csrf_token %}
      <input type="hidden" value="{{ object.facility }}" name="facility">
      <input type="hidden" value="ALL" name="products">
      <input type="submit" value="Save All" class="btn btn-primary float-right">
    </form>
    <form method="POST" action="{% url 'tom_dataproducts:save' object.id %}">
      {% csrf_token %}
      <input type="hidden" value="{{ object.facility }}" name="facility">
      <div class="row">
        <div class="col-md-9">
          <h4>Unsaved data products</h4>
        </div>
        <div class="col-md-3">
          <input type="submit" value="Save Selected" class="btn btn-primary">
        </div>
      </div>
      {% dataproduct_list_for_observation_unsaved data_products %}
    </form>
  </div>
  {% endif %}
  {% if object.facility != "GEM" %}
  <div class="col-md-4">
    <h4>Request Parameters</h4>
    {% observationtemplate_from_record object %}
    <dl class="row">
      {% for k,v in object.parameters.items %}
      <dt class="col-sm-6">{{ k }}</dt>
      <dd class="col-sm-6">{{ v }}</dt>
      {% endfor %}
    </dl>
  </div>
  {% endif %}
</div>
{% endblock %}