{% load bootstrap4 %}
{% comment %}
The footer section for the GOATS application. It is sticky, always staying at the bottom of the page due to 'mt-auto'. The link redirects to TOM Toolkit's documentation.
{% endcomment %}
<footer class="goats-footer mt-auto">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <span>GOATS powered by the <a href="https://tom-toolkit.readthedocs.io/en/latest/index.html" target="_blank" class="text-reset">TOM Toolkit</a></span>
    </div>
  </div>
</footer>
