{% load static bootstrap4 %}
{% comment %}
The footer section for the GOATS application. It is sticky, always staying at the bottom of the page due to 'mt-auto'. The link redirects to TOM Toolkit's documentation.
{% endcomment %}
<footer class="goats-footer">
  <!-- <div class="container-fluid d-flex justify-content-between"> -->
  <div class="row">
    <div class="col text-center">
      <p class="mb-0">⚡️ Powered by the <a href="https://tom-toolkit.readthedocs.io/en/latest/index.html" target="_blank" class="text-reset">TOM Toolkit</a></p>
    </div>
  </div>
</footer>
