{% extends 'tom_common/base.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="embed-responsive embed-responsive-16by9">
  <iframe id="iframe-container" class="embed-responsive-item" src="https://antares.noirlab.edu/loci/ANT20228neprvo0vz1v" allowfullscreen></iframe>
</div>
<script>
  window.onload = function() {
      var iframe = document.getElementById('iframe-container');
      console.log(iframe.contentWindow.document.body.innerHTML)
      try {
          var content = iframe.contentWindow.document.body.innerHTML;
          alert('No Cross-Origin Restrictions');
      } catch (e) {
          alert('Cross-Origin Restrictions Detected');
      }
  };
</script>
{% endblock %}