{% load bootstrap4 %}
{% if products_page.has_other_pages %}
  {% bootstrap_pagination products_page parameter_name="page_saved" %}
{% endif%}
<table class="table table-striped">
  <thead>
    <tr>
      <th>File</th>
      <th>Type</th>
      <th>Created</th>
      <th><a href="{% url 'delete-observation-data-products' observation_record.id %}" class="btn btn-danger">Delete All</a></th>
    </tr>
  </thead>
  <tbody>
    {% for product in products_page %}
    <tr>
      <td><a href="{{ product.data.url }}">{{ product.product_id }}</a></td>
      <td>
        {% if product.data_product_type %}
          {{ product.get_type_display }}
        {% endif %}
      </a></td>
      <td>{{ product.created }}</td>
      <td class="text-right"><a href="{% url 'delete-dataproduct' product.id %}" class="text-light"><i class="fa-solid fa-trash"></i></a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">
        No saved data for this observation.
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if products_page.has_other_pages %}
  {% bootstrap_pagination products_page parameter_name="page_saved" %}
{% endif%}