<div class="container mt-3">
  <div class="row g-3">
    <div class="col-12">
      <div id="{{ data_type }}Plot" class="plotly-container"></div>
    </div>
    <div class="col-12">
      <div style="overflow-y: auto; height: 400px">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="{{ data_type }}PlotTBody">
            {% for dataproduct in dataproducts %}
            <tr
              data-file="{{ dataproduct.data.name}}"
              data-dataproduct-id="{{ dataproduct.id }}"
              data-data-type="{{ data_type }}">
              <td>{{ dataproduct.data.name }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary btn-sm plot-button"
                  data-action="plot">
                  Plot
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>