<div class="container my-3">
  <h5>Select and Plot Data Products</h5>
  <p>
    Use the table below to select data products.
    <em>
      {% if data_type == "photometry" %}
        Note that only CSV files are supported.
      {% elif data_type == "spectroscopy" %}
        Note that FITS and CSV files are supported.
      {% endif %}
      See <a href="{% url 'targets:detail' pk=target.id %}?tab=manage-data" target="_blank">Manage Data</a>
      for an example of the format.
    </em>
    Click the <strong>Plot</strong> button to add the selected data product to the plot.
  </p>
  <div class="row g-3">
    <div class="col-12">
      <div id="{{ data_type }}Plot" class="plotly-container"></div>
      <figcaption class="figure-caption text-center mt-2">Click on labels to edit text.</figcaption>
    </div>
    <div class="col-12">
      <div style="overflow-y: auto; height: 400px">
        <table class="table">
          <thead>
            <tr>
              <th>File Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="{{ data_type }}PlotTBody">
            {% if dataproducts %} {% for dataproduct in dataproducts %}
            <tr
              data-file="{{ dataproduct.data.name }}"
              data-dataproduct-id="{{ dataproduct.id }}"
              data-data-type="{{ data_type }}">
              <td>{{ dataproduct.data.name }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary btn-sm plot-button"
                  data-action="plot"
                  title="Click to add this data product to the plot">
                  Plot
                </button>
              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="2" class="text-center">
                No data products available to plot.
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
