<div class="mb-5">
  <h4 class="text-center">Retrieve data from the Gemini Observatory Archive (GOA)</h4>
  <p class="text-center"><em>This functionality is available once the observation complete, i.e., the status is updated to 'Observed'</em></p>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <form method="post" action="{% url 'goa_query' object.id%}">
    {% csrf_token %}
    <div class="form-row justify-content-center">
      <div class="col-md-5">
        <div class="row form-group">
          <label for="{{ form.observation_class.id_for_label }}" class="col-sm-4 col-form-label">{{ form.observation_class.label }}</label>
          <div class="col-sm-8">
            {{ form.observation_class }}
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row form-group">
          <label for="{{ form.observation_type.id_for_label }}" class="col-sm-4 col-form-label">{{ form.observation_type.label }}</label>
          <div class="col-sm-8">
            {{ form.observation_type }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="col-md-5">
        <div class="row form-group">
          <label for="{{ form.raw_reduced.id_for_label }}" class="col-sm-4 col-form-label">{{ form.raw_reduced.label }}</label>
          <div class="col-sm-8">
            {{ form.raw_reduced }}
            <small class="form-text text-muted">{{ form.raw_reduced.help_text }}</small>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row form-group">
          <label for="{{ form.qa_state.id_for_label }}" class="col-sm-4 col-form-label">{{ form.qa_state.label }}</label>
          <div class="col-sm-8">
            {{ form.qa_state }}
            <small class="form-text text-muted">{{ form.qa_state.help_text }}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="col-md-5">
        <div class="row form-group">
          <label for="{{ form.filename_prefix.id_for_label }}" class="col-sm-4 col-form-label">{{ form.filename_prefix.label }}</label>
          <div class="col-sm-8">
            {{ form.filename_prefix }}
            <small class="form-text text-muted">{{ form.filename_prefix.help_text }}</small>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row form-group">
          <label for="{{ form.save_to.id_for_label }}" class="col-sm-4 col-form-label">{{ form.save_to.label }}</label>
          <div class="col-sm-8">
            {{ form.save_to }}
            <small class="form-text text-muted">{{ form.save_to.help_text }}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <div class="col-md-10">
        <div class="row form-group">
          <label class="pt-0 col-sm-4 col-form-label">{{ form.download_calibrations.label }}</label>
          <div class="col-sm-8">
            {% for radio in form.download_calibrations %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="{{ form.download_calibrations.name }}" id="{{ radio.id_for_label }}" value="{{ radio.data.value }}" {% if radio.data.value == "yes" %}checked{% endif %}>
                <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="facility" value="{{ object.facility }}">
    <div class="row">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
